APP_ENV=local
STREAMLIT_SERVER_PORT=8501
API_SERVER_PORT=8010

FIN_COMPLIANCE_POLICY_PATH=fin_compliance/data/policies/travel_reimbursement_policy.jsonl
FIN_COMPLIANCE_REPORT_DIR=reports
FIN_COMPLIANCE_UPLOAD_DIR=fin_compliance/ui_uploads

OCR_LANG=chi_sim+eng
